.sidebar {
    width: 250px;
    background-color: var(--secondary-bg-color); /* Dynamic background color */
    color: var(--primary-text-color); /* Dynamic text color */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Push logout to bottom */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Ensure full height */
}

.sidebar-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

/* Profile Section */
.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border: 2px solid var(--secondary-bg-color); /* Dynamic border */
}

.profile-section h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--primary-text-color);
}

.profile-section p {
    font-size: 0.9rem;
    color: var(--primary-text-color);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    color: var(--primary-text-color);
}

.menu-item:hover {
    background-color: var(--input-bg-color);
}

.menu-item.active {
    background-color: var(--active-card-bg);
    color: var(--button-bg-color);
}

/* Navigation Links */
.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 5px;
    color: var(--text-color); /* Dynamic text color */
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.nav-links li .menu-icon {
    margin-right: 10px;
    font-size: 1.2rem;
    color: var(--text-color-secondary); /* Dynamic icon color */
    transition: color 0.3s ease;
}

.nav-links li.active,
.nav-links li:hover {
    background-color: var(--button-hover-bg-color); /* Dynamic hover background color */
    color: var(--button-hover-bg-color); /* Hover text color */
    transform: translateX(5px);
    font-weight: bold;
}

.nav-links li:hover .menu-icon {
    color: var(--button-hover-bg-color); /* Dynamic highlight color for icons */
}

/* Logout Section */
.logout-section {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-top: auto; /* Push to bottom */
    color: var(--error-color); /* Red for logout */
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-section .logout-icon {
    margin-right: 10px;
    font-size: 1.2rem;
    color: var(--primary-text-color);
    transition: color 0.3s ease;
}

.logout-section:hover {
    background-color: var(--hover-text-color); /* Red background on hover */
    color: #fff; /* White text color */
}

.logout-section:hover .logout-icon {
    color: #fff; /* White icon on hover */
}