/* Sidebar Wrapper */
.sidebar {
    width: 250px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

/* Profile Section */
.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-section h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--primary-text-color);
}

.profile-section p {
    font-size: 0.9rem;
    color: var(--primary-text-color);
}

/* Navigation Links */
.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 5px;
    color: var(--navigation-link-text-normal-color);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.nav-links li .menu-icon {
    margin-right: 10px;
    font-size: 1.2rem;
    color: var(--navigation-link-text-normal-color);
}

.nav-links li.active {
    background-color: var(--navigation-link-bg-selected-color);
    color: var(--navigation-link-text-selected-color);
    font-weight: bold;
}

.nav-links li:hover {
    background-color: var(--navigation-link-bg-hover-color);
    color: var(--navigation-link-text-hover-color);
}

/* Theme and Logout Buttons Wrapper */
.theme-logout-wrapper {
    margin-top: auto; /* Push the buttons to the bottom of the sidebar */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between theme toggle and logout */
}

/* Theme Toggle Button */
.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--navigation-link-bg-hover-color);
    color: var(--navigation-link-text-hover-color);
    transition: all 0.3s ease;
    text-align: center;
}

.theme-toggle:hover {
    background-color: var(--hover-bg-color);
    color: #fff;
}

/* Logout Section */
.logout-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--error-color);
    background-color: var(--secondary-bg-color);
    transition: all 0.3s ease;
    text-align: center;
}

.logout-section:hover {
    background-color: var(--hover-bg-color);
    color: #fff;
}